<VirtualHost *:80>

        ServerAdmin webmaster@localhost
        ServerName arbitor
        DocumentRoot /var/www/html/arbitor

        <Directory /var/www/html/arbitor/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
                Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
