<VirtualHost *:80>

        ServerAdmin webmaster@localhost
        ServerName m1.mongo.com
        DocumentRoot /var/www/html/m1.mongo.com

        <Directory /var/www/html/m1.mongo.com/>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
                Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
