rs.initiate()
sleep(13000)
{% for host in mongo_host %}
rs.add("{{ host.machinename }}:{{ host.port }}")
sleep(8000)
{% endfor %}
sleep(8000)
{% for arbtor in mongo_arbitor %}
rs.addArb("{{ arbtor.machinename }}:{{ arbtor.port }}")
{% endfor %}