rs.initiate()
sleep(13000)
{% for host in mongo_host %}
rs.add("{{ host.machinename }}:{{ host.port }}")
sleep(8000)
{% endfor %}

{% for arbtor in mongo_arbitor %}
rs.add("{{ arbtor.machinename }}:{{ arbtor.port }}")
sleep(8000)
{% endfor %}